/* 
    Created on : 31/12/2016, 21:31:49
    Author     : kleberkruger
*/
.mapa-velha {
    -fx-background-color: white;
}
.mapa-velha .separator *.line { 
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}
.mapa-velha .toggle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-font-size: 96px;
}
.mapa-velha .toggle-button:disabled {
  -fx-opacity: 1.0;
}
.mapa-velha .toggle-button.jogador-1 {
    -fx-text-fill: blue;
}
.mapa-velha .toggle-button.jogador-2 {
    -fx-text-fill: orange;
}
